@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"] Us !!</h1>

<hr />
<div class="row">
    <div class="col">
        <p>
            Hollywood is a proudly american movie app that is created to
            showcase the latest american block busters, comedy, thriller,<br />
            romance and other interesting movies types that might suit you.<br />
            There is definately something out there for you!
        </p>
    </div>
</div>
